* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100vw;
    top: 0;
    right: 0;
}

nav {
    background-color: #148ceb;
    padding: 20px;
}

nav ul {
    padding-inline: 1rem;
    display: flex;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

main figure img {
    display: block;
    margin: auto;
    width: 100%; 
    max-height: 400px;
    object-fit: contain;
    object-position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


main {
    z-index: -1;
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-content {
    width: 75%;
    box-sizing: content-box;
    border: 1px solid #B5B5B5;
    border-radius: 20px;
    box-shadow: 0px 10px 36px 1px #b5b5b5b5;
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    margin-right: 20px;
    margin-left: 20px;
}

h2,h4 {
    padding-bottom: 15px;
}

h2 {
    padding-top: 15px;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 25px;
    text-align: justify;
}

article ul, article ol {
    padding-left: 35px;
}

ol, ul {
    line-height: 25px;
    
}

.main-aside {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
    margin-right: 20px;
}

.name-card {
    border: 1px solid #B5B5B5;
    border-radius: 20px;
    box-shadow: 0px 10px 36px 1px #b5b5b5b5;
    height: auto;
    display: flex;
    width: 85%;
    align-items: center;
    text-align: center;
    padding: 0 20px 0px 20px;
    
}

.daftar-resep {
    border: 1px solid #B5B5B5;
    border-radius: 20px;
    box-shadow: 0px 10px 36px 1px #b5b5b5b5;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 20px;
    padding: 20px;
}

aside ol li {
    border-bottom: 1px solid #B5B5B5;
    padding-bottom: 15px;
    padding-top: 15px;

}


aside ol {
    padding: 15px 0px 15px 15px;
    
}


footer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: auto;
    background-color: #148ceb;
    align-items: center;
    color: white;
}

.footer-kami {
    display: flex;
    flex-direction: row;
}

.detail-footer {
    padding: 20px 20px 0px 20px
}

@media screen and (max-width: 500px) {
main, .main-content {
    display: flex;
    flex-direction: column; 
    align-items: center;

}


.main-content {
    padding: 20px 40px;

}

.main-aside {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;

}

.name-card {
    margin-top: 20px;
}


nav li {
    font-size: 17px;
    
}

nav ul {
    padding-inline-start: 1rem;
}

footer {
    font-size: 14px;
   }

}

@media screen and (max-width: 400px) {
    nav ul {
        padding-inline-start: 0rem;
    }

    .main-content {
        padding: 20px 30px;
    
    }
}
